<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="POSTGRES_HOST" value="127.0.0.1" force="false"/>
        <env name="POSTGRES_PORT" value="5443" force="false"/>
        <env name="POSTGRES_DATABASE" value="postgres" force="false"/>
        <env name="POSTGRES_USERNAME" value="postgres" force="false"/>
        <env name="POSTGRES_PASSWORD" value="postgres" force="false"/>

        <env name="POSTGRES_SSL_HOST" value="127.0.0.1" force="false"/>
        <env name="POSTGRES_SSL_PORT" value="5444" force="false"/>
        <env name="POSTGRES_SSL_DATABASE" value="postgres" force="false"/>
        <env name="POSTGRES_SSL_USERNAME" value="postgres" force="false"/>
        <env name="POSTGRES_SSL_PASSWORD" value="postgres" force="false"/>
    </php>
</phpunit>